body {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
	text-align: center;
}

.wrapper {
	display: grid;
	width: 100%;
	min-height: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 10% 1fr 1fr 30%;
	gap: 1rem;
}

.header {
	grid-row: 1/2;
	grid-column: 1/4;
	border: 3px solid black;
	padding: 20px 0px 0px 0px;
	background-color: rgb(204, 204, 204);
}

.main {
	grid-row: 2/4;
	grid-column: 1/4;
	display: grid;
	width: 100%;
	height: 600px;
	grid-template-columns: 1fr 40%;
	grid-template-rows: 2fr;
	gap: 1rem;
}

.main__title {
	grid-row: 1/2;
	grid-column: 1/3;
	padding: 40px 0px 0px 0px;
}

.content {
	display: grid;
	grid-row: 1/3;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 1rem;
	border: 1px solid black;
	background-color: rgb(255, 229, 195);
}

.main__sidebar {
	grid-column: 2/3;
	grid-row: 1/3;
	border: 2px solid black;
	padding: 40px 0px 0px 0px;
	background-color: rgb(157, 250, 203);
}

.else {
	border: 2px solid black;
	padding: 40px 0px 0px 0px;
	background-color: rgb(250, 192, 117);
}

.main__1 {
	grid-row: 2/3;
	grid-column: 1/2;
}

.main__2 {
	grid-row: 2/3;
	grid-column: 2/3;
}

.main__3 {
	grid-row: 3/4;
	grid-column: 1/3;
}

.footer {
	grid-row: 4/5;
	grid-column: 1/4;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1rem;
	border: 2px solid black;
	background-color: rgb(204, 204, 204);
}

.section {
	border: 1px solid black;
	padding: 50px 0px 0px 0px;
	background-color: rgb(240, 239, 239);
}

.footer__1 {
	grid-column: 1/2;
	grid-row: 1/3;
}

.footer__2 {
	grid-column: 2/3;
	grid-row: 1/3;
}

.footer__3 {
	grid-column: 3/4;
	grid-row: 1/3;
}

.footer__4 {
	grid-column: 4/5;
	grid-row: 1/3;
}